@use "../util/" as ut;

.main__product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  justify-items: center;
  @include ut.breakpoint(medium) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.main__product__panel {
  border: 1px solid grey;
  box-shadow: 0px 2px 3px 0 rgb(0 0 0 / 0.4), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 4px;
  background-color: white;
  // width: 250px;
  // height: 240px;
  padding: 10px;
  border-radius: 10px;
}

.main__product__img {
  // width: 250px;
  // height: 140px;
  // width: 400px;
  width: 100%;
  height: 260px;
  @include ut.breakpoint(xLarge) {
    height: auto;
  }
  // @include ut.breakpoint(large) {
  //   height: 200px;
  // }
  // @include ut.breakpoint(medium) {
  //   height: 220px;
  // }
}

.main__product__title {
  font-weight: bold;
  color: black;
  //   padding-left: 10px;
  display: inline-block;
  margin: 10px;

  //! For ellipsis [One Line Header]
  // width: 100%;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
}
.main__product__price {
  color: rgb(10, 180, 10);
  //   padding-left: 10px;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0px 10px;
}

.main__product__status__reviews {
  color: rgb(97, 95, 95);
  font-weight: bold;
}
