@use "../util/" as ut;
$padding-spacing: 20px;
$margin-spacing: 10px;

.formContainer__login {
  & input {
    font-size: 1.3rem;
    outline: none;
    border: none;
    background-color: rgba(255, 253, 253, 0.082);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    padding: 10px 5px;
    margin-top: $margin-spacing;
    @include ut.breakpoint(medium) {
      font-size: 1rem;
    }
  }
  & label {
    font-weight: bold;
  }

  & input:focus {
    outline: none;
    border: none;
    outline: 2px solid rgb(29, 100, 231);
    box-shadow: 0px 0px 5px 1px rgb(29, 100, 231);
  }

  & input:not(:focus):not(:placeholder-shown) {
    outline: none;
    border: none;
    // outline: 2px solid rgb(29, 100, 231);
    background-color: rgb(232 240 253);
    box-shadow: 0px 0px 5px 1px rgb(29, 100, 231);
  }
}

.formContainer {
  padding: $padding-spacing;
  &__headerLogin {
    text-align: center;
    font-weight: bold;
    margin-bottom: $margin-spacing;
    font-size: 3rem;
    @include ut.breakpoint(medium) {
      font-size: 1.5rem;
    }
  }
  &__userEmailLogin {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: $margin-spacing;
    @include ut.breakpoint(medium) {
      font-size: 1rem;
    }
  }
  &__userPasswordLogin {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    @include ut.breakpoint(medium) {
      font-size: 1rem;
    }
  }
  &__loginBtn {
    margin: 10px;
    margin-bottom: 0px;
    padding: 9px 4px;
    @include ut.breakpoint(medium) {
      font-size: 1.3rem;
    }
  }
  &__registerLink {
    margin-top: $padding-spacing;
    margin: 10px;
    margin-bottom: 0px;
    & > a {
      color: rgb(0, 150, 0);
      font-weight: bold;
    }
  }
}
