@use "../util/" as ut;
$header: 3rem;
$margin: 10px;
%containerStyle {
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
}
%header {
  font-size: $header;
  margin-bottom: 10px;
  font-weight: bold;
}
%span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.main__placeOrders {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 50px;
  // min-width: 250px;
  margin: auto 40px;
  @extend %containerStyle;
  @include ut.breakpoint(large) {
    margin: 0px;
  }
  @include ut.breakpoint(medium) {
    margin: 0px;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  }
  &__details {
    max-width: 600px;
    font-size: 1.5rem;
    @include ut.breakpoint(large) {
      font-size: 1.3rem;
    }
    @include ut.breakpoint(medium) {
      font-size: 1rem;
    }
    &__shipping {
      &__header {
        @extend %header;
        @include ut.breakpoint(large) {
          font-size: 2.5rem;
        }
        @include ut.breakpoint(medium) {
          font-size: 1.5rem;
        }
      }
      &__address {
        margin: 10px;
        & > span {
          @extend %span;
        }
      }
    }
    &__payment {
      &__header {
        @extend %header;
        @include ut.breakpoint(large) {
          font-size: 2.5rem;
        }
        @include ut.breakpoint(medium) {
          font-size: 1.5rem;
        }
      }
      &__type {
        margin: 10px;
        & > span {
          @extend %span;
        }
      }
    }
    &__order {
      &__header {
        @extend %header;
        @include ut.breakpoint(large) {
          font-size: 2.5rem;
        }
        @include ut.breakpoint(medium) {
          font-size: 1.5rem;
        }
      }
      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        margin: 10px;
        &__image > img {
          width: 100px;
          height: 60px;
          border-radius: 10px;
          @include ut.breakpoint(medium) {
            width: 50px;
            height: 30px;
          }
        }
        &__name > a {
          font-size: 1rem;
          @include ut.breakpoint(medium) {
            font-size: 0.8rem;
          }
        }
        &__qty {
          font-size: 1rem;
          @include ut.breakpoint(medium) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  &__summary {
    max-width: 600px;
    box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
    font-size: 1.5rem;
    @include ut.breakpoint(large) {
      font-size: 1.3rem;
      padding: 12px;
    }
    @include ut.breakpoint(medium) {
      font-size: 1rem;
    }
    &__header {
      @extend %header;
      @include ut.breakpoint(large) {
        font-size: 2.5rem;
      }
      @include ut.breakpoint(medium) {
        font-size: 1.5rem;
      }
    }
    &__price {
      width: 80%;
      & > div {
        display: flex;
        justify-content: space-between;
      }
    }
    &__placeOrder {
      margin-top: 20px;
    }
  }
}
