@use "../util/" as ut;

.main__productDisplayed__header {
  margin-bottom: 20px;
  & > a > button {
    font-size: 1rem;
  }
}

.main__productDisplayed__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  justify-items: center;
  @include ut.breakpoint(medium) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.main__productDisplayed__content__top {
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.main__productDisplayed__content__middle {
  border: 2px solid rgb(156, 156, 156);
  border-radius: 10px;
  padding: 10px;
  &__name__title {
    font-size: 2.5rem;
    font-weight: bold;
    @include ut.breakpoint(medium) {
      font-size: 1.6rem;
    }
  }
  &__price {
    display: flex;
    gap: 20px;
    // justify-content: space-evenly;
    &__stocks {
      font-size: 2.5rem;
      font-weight: bold;
      @include ut.breakpoint(medium) {
        font-size: 1.6rem;
      }
    }
  }
  &__description__desc {
    font-size: 1.5rem;
    @include ut.breakpoint(medium) {
      font-size: 1rem;
    }
  }
  &__addToCart {
    padding: 10px 0;
    & > button {
      @include ut.breakpoint(medium) {
        font-size: 1rem;
      }
    }
  }
}

.main__productDisplayed__reviews {
  width: 40%;
  padding: 20px 0px;
  @include ut.breakpoint(xLarge) {
    width: 50%;
    padding: 0px;
  }
  @include ut.breakpoint(larger) {
    width: 100%;
  }
  &__header {
    margin: 10px 0;
    font-weight: bold;
    font-size: 3rem;
    @include ut.breakpoint(medium) {
      font-size: 1.5rem;
    }
  }
  &__content {
    & > :nth-child(1) {
      margin-top: 10px;
    }
    &__info {
      margin-top: 10px;
      border: 2px solid rgb(156, 156, 156);
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 1.1rem;

      &__div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include ut.breakpoint(medium) {
          gap: 5px;
          flex-direction: column;
          align-items: start;
        }
        & > div {
          padding: 0;
        }
      }
    }
    &__create {
      & button {
        @include ut.breakpoint(medium) {
          font-size: 1rem;
        }
      }
      & > :nth-child(2) {
        margin: 0;
        width: inherit;
        max-width: inherit;
        padding: 10px;
      }
      &__header {
        margin: 10px 0;
        font-weight: bold;
        margin-top: 10px;
        font-size: 3rem;
        @include ut.breakpoint(medium) {
          font-size: 1.5rem;
        }
      }
      &__rating {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 10px 0px;
        margin-top: 5px;
        & > select {
          width: auto;
          padding: 10px;
          font-size: 1.2rem;
          -webkit-appearance: auto;
          -moz-appearance: auto;
        }
      }
      &__comment {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 10px 0px;
        & > textarea {
          padding: 10px;
          font-size: 1.2rem;
        }
      }
      &__topic {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 10px 0px;
        & > textarea {
          padding: 10px;
          font-size: 1.2rem;
        }
      }
    }
  }
}
