@forward "components";
@forward "global";
@forward "util";
@use "./util/" as ut;

// main {
//   margin: 10px;
// }

// .addEllipsis {
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

select {
  cursor: pointer;
  padding: 5px 10px;
  width: 45px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  @include ut.breakpoint(medium) {
    padding: 0px;
    width: 40px;
    font-size: 0.6rem;
  }
}
h1 {
  // margin-top: 0;
}
