@use "../../util/" as ut;

.productList__deleteButton {
  padding: 1px 8px;
  background-color: rgb(247, 68, 68);
  border: none;
}

.productList__editButton {
  padding: 1px 8px;
  border: none;
}

.productList {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &__title {
      font-size: 3rem;
      font-weight: bold;
      @include ut.breakpoint(medium) {
        font-size: 1.5rem;
      }
    }
    &__button {
      @include ut.breakpoint(medium) {
        padding: 4px 8px;
        font-size: 1.3rem;
      }
    }
  }
}
