.message {
  &__info {
    //   text-align: center;
    font-size: 1.5rem;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  &__danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  &__warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  &__success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  &__header {
    //   text-align: center;
    font-size: 1.5rem;
    color: #04ad91;
    background-color: #ccffee;
    border-color: #b8daff;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
}
