@use "../util/" as ut;

.pageDetails {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  align-items: center;
  margin-top: auto;
  @include ut.breakpoint(xLarge) {
    margin-top: 20px;
  }
}

.paginate {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
  font-size: 2rem;
  &__text {
    display: flex;
    align-items: center;
    gap: 2px;
  }
  &__item {
    text-align: center;
    padding: 10px 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.2);
  }
}
.active {
  font-weight: bold;
  background-color: #ccffee;
  // box-shadow: 2px 0px 5px 2px rgba(204, 255, 238, 0.2);
}
