.main__product__user {
  display: flex;
  //   justify-content: flex-end;
  padding: 0 10px;
  gap: 5px;
}
.main__product__user__ratings {
  color: rgb(19, 212, 19);
}

.addPadding {
  padding: 10px 0;
}
