$font-size: 1.5rem;
$font-color: rgb(255, 255, 255);

:root {
  --primary-color: rgb(59 130 246);
  --secondary-color: rgb(105, 202, 165);
  --success-color: rgb(65, 246, 59);
  --warning-color: rgb(246, 171, 59);
  --danger-color: rgb(246, 59, 59);
  --padding: 18px 8px;
}
